/* Visual */
.html, body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;  
    font-size: 150%;
    color: aliceblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url(../images/trivia-gradient-bg.jpg); 
}
/* Visual */
.container{   
    width: 90%;
    height: 800px;
    margin-left: 5%;
    /* border: 1px solid orange; */

    
}
#heading{
    color: aliceblue;
    margin-left: 35%;
}
.q-panel{
    /* Positioning */
    margin-top: 5%;
    margin-left: 25%;
    padding-top: 10%;
    /* Box-model */
    width: 60%;
    height:400px;
    background-color : orange;
    /* Typography */
    text-align: center;
}
#start, #next, #reset{
  width: 20%;
  height: 50px;
  border-radius: 5px;
  margin-top: 30%;
  margin-left: 40%;
}

     