/* Visual */
.html, body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;  
    font-size: 150%;
    color: aliceblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url(../images/trivia-gradient-bg.jpg); 
}
/* Visual */
.container{   
    width: 90%;
    height: 800px;
    margin-left: 5%;
    /* border: 1px solid orange; */

    
}
#heading{
    color: aliceblue;
    margin-left: 35%;
}
#game{ 
  /* Positioning */
  margin-top: 5%;
  margin-left: 15%;
  /* Box-model */
  width: 65%;
  height: 65%;
  background-color: rgb(201, 122, 26);
  /* Typography */
  text-align: center;

} 
#questionare-panel{
    margin: 10%; 
    text-align: left;
    font-size: 120%; 
    color: black;
}
#start, #done, #reset{
  width: 20%;
  height: 50px;
  border-radius: 5px;
  margin-top: 30%;
  margin-left: 40%;
}

     