/* Visual */
.html, body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;  
    font-size: 150%;
    color: aliceblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url(../images/trivia-gradient-bg.jpg); 
}
/* Visual */
.container{   
    width: 90%;
    height: 800px;
    margin-left: 5%;
    /* border: 1px solid orange; */

    
}
#heading{
    color: aliceblue;
    margin-left: 35%;
}
#display{
    margin-left: 38%;
    width: 8%;
    height: 15px;
    padding: 1%;
    /* padding-top: 3%;
    padding-left: 5%; */
    border-radius: 5px; 
    background-color: white;
    color: black;
    font-display: bold;
    font-size: 12px;
    text-align: center;
}
.q-panel{
    margin-top: 5%;
    margin-left: 20%;
    padding-top: 10%;
    width: 60%;
    height:400px;
    background-color : orange;
  
    text-align: center;
}
#start, #next, #reset{
  width: 20%;
  height: 50px;
  border-radius: 5px;
  margin-top: 10%;
  margin-left: 35%;
}

     